<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebApp</title>
    <script type="text/javascript" th:src="@{../static/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/home.css}">
</head>
<body>
<div class="container-fluid header">
    <h1 class="welcome">Welcome to WebApp</h1>
</div>
<div class="container-fluid form">
    <div class="please">Please, login or register to start:</div>
    <div class="row button-row">
        <div class="col-lg-6">
            <a class="btn btn-outline-warning" th:href="@{/login}">Login</a>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-outline-warning" th:href="@{/registration}">Register</a>
        </div>
    </div>
</div>
<div class="container-fluid footer">
    <h8 class="powered">Powered by 1D</h8>
</div>
</body>
</html>